.section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.section-title h2 {
  font-size: 36px;
  display: inline-block;
  position: relative;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid var(--accent);
}

.section-title h2::before {
  top: -10px;
  left: -40px;
  border-right: none;
  border-bottom: none;
}

.section-title h2::after {
  bottom: -10px;
  right: -40px;
  border-left: none;
  border-top: none;
}